#buy {
    background-color: rgba(0, 0, 0, 0.671);
}

#buy header {
    position: relative;
}

#buy header h1 {
    color: rgb(255, 255, 255);
    font-style: italic;
    padding: 10px;
    border-bottom: 1px solid rgb(99, 95, 95);
    margin-bottom: 10px;
    max-width: 90vw;
}

.buy {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
}

.container > img {
    width: 100%;
    border-radius: 10px;
}

.container .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
}

.container .select > button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container button {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 5px;
    margin: 5px 0 0 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
